[Unit]
Description="Discord testnet faucet bot"

[Service]
User=root
Environment="PATH=/usr/local/go/bin:/root/go/bin:$PATH"
WorkingDirectory=/root/terpy
ExecStart=/root/terpy/.env/bin/python cosmos_discord_faucet.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
